<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--1.扫描注解-->
    <context:component-scan base-package="com.swjd.*"/>

    <!--2.加载外部数据库局部文件-->
    <context:property-placeholder location="classpath:jdbc.properties"/>

    <!--3.配置德鲁伊连接池-->
    <bean id="ds" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="username" value="${jdbc.user}"/>
        <property name="password" value="${jdbc.password}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="driverClassName" value="${jdbc.driver}"/>
    </bean>

    <!--4.创建sqlSessionFactory-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="ds"/>
        <!--加载xml文件-->
        <property name="mapperLocations" value="classpath:com/swjd/mapper/*.xml"/>
        <!--配置别名-->
        <property name="typeAliasesPackage" value="com.swjd.bean"/>
        <!--配置mybatisPlus的分页插件-->
       <!-- <property name="plugins">
            <list>
                <bean class="com.baomidou.mybatisplus.extension.plugins.PaginationInterceptor"/>
            </list>
        </property>-->
    </bean>

    <!--5.创建BookMapper实现类-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.swjd.mapper"/>
    </bean>

    <!--6.配置Mybatis事务(声明式事务【注解配置】)-->
    <!--1）配置mybatis的事务平台管理器DataSourceTransactionManager-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <!--注入数据源-->
        <property name="dataSource" ref="ds"/>
    </bean>
    <!--开启事务的注解配置方式-->
    <tx:annotation-driven transaction-manager="transactionManager"/>
</beans>